<DOCTYPE html>
<html lang = "zh">
<head>
    <meta charset =  "UTF-8">
    <title><%= blog.title %></title>
    <link rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css"><!-- 自己引入的css样式 -->
    <link rel="stylesheet" href="/css/posts.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
</head>
<body>
    <%- include('components/nav') %>
    <%- include('components/notification') %>
    